.form {
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	align-items: center;
	display: grid;
	gap: 16px;
}

.form__inner {
	align-items: center;
	display: grid;
	gap: 16px;
	width: 100%;
	max-width: 400px;
}

.form__label {
	display: block;
	width: 100%;
}

.form__button,
.form__select,
.form__input {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	background-color: #fff;
	color: #000000;
	border: 1px solid #000000;
	font-size: 16px;
	line-height: 1;
	height: 41px;
	font-family: inherit;
	border-radius: 3px;
}

.form__button:hover,
.form__select:hover,
.form__input:hover {
	opacity: 0.8;
}

.form__button:active,
.form__select:active,
.form__input:active {
	opacity: 0.6;
}

.form__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../img/select.png);
	background-repeat: no-repeat;
	background-position: right 5px center;
	padding-right: 24px;
}

.form__button {
	background-color: #ff6347;
	color: #ffffff;
	font-weight: 900;
}

.form__price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
}

.form__price-new,
.form__price-old {
	padding: 0 4px;
}

.form__price-old {
	text-decoration: line-through;
	font-size: 14px;
}

.form__price-new {
	font-weight: 700;
	color: #ff6347;
	font-size: 18px;
}
